doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='Bootstrap Admin App + jQuery')
    meta(name='keywords', content='app, responsive, jquery, bootstrap, dashboard, admin')
    title Angle - Bootstrap Admin Template
    // =============== VENDOR STYLES ===============
    // FONT AWESOME
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
    // SIMPLE LINE ICONS
    link(rel='stylesheet', href='/vendor/simple-line-icons/css/simple-line-icons.css')
    // =============== BOOTSTRAP STYLES ===============
    link#bscss(rel='stylesheet', href='stylesheets/bootstrap.css')
    // =============== APP STYLES ===============
    link#maincss(rel='stylesheet', href='stylesheets/app.css')
  body
    .wrapper
      .block-center.mt-xl.wd-xl
        // START panel
        .panel.panel-dark.panel-flat
          .panel-heading.text-center
            a(href='#')
              img.block-center.img-rounded(src='/images/logos-small.png', alt='Image')
          .panel-body
            p.text-center.pv SIGNUP TO GET INSTANT ACCESS.
            form.mb-lg(name="addstudent" method="post" action="/registerstudent" role='form')
              .form-group.has-feedback
                label.text-muted(for='fname') First Name
                input#fname.form-control(name="fname", type='text', placeholder='Enter email', autocomplete='off', required='')
                // span.fa.fa-envelope.form-control-feedback.text-muted

              .form-group.has-feedback
                label.text-muted(for='lname') Last Name
                input#lname.form-control(name="lname", type='text', placeholder='Enter email', autocomplete='off', required='')
                // span.fa.fa-envelope.form-control-feedback.text-muted

              .form-group.has-feedback
                label.text-muted(for='signupInputEmail1') Email address
                input#signupInputEmail1.form-control(name="email", type='email', placeholder='Enter email', autocomplete='off', required='')
                span.fa.fa-envelope.form-control-feedback.text-muted

              .form-group.has-feedback
                label.text-muted(for='signupInputPassword1') Password
                input#signupInputPassword1.form-control(name='password', type='password', placeholder='Password', autocomplete='off', required='')
                span.fa.fa-lock.form-control-feedback.text-muted

              .form-group.has-feedback
                label.text-muted(for='signupInputRePassword1') Retype Password
                input#signupInputRePassword1.form-control(name='passwordcheck', type='password', placeholder='Retype Password', autocomplete='off', required='', data-parsley-equalto='#signupInputPassword1')
                span.fa.fa-lock.form-control-feedback.text-muted

              .clearfix
                .checkbox.c-checkbox.pull-left.mt0
                  label
                    input(type='checkbox', value='', required='', name='agreed')
                    span.fa.fa-check
                    | I agree with the
                    a(href='#') terms
              button.btn.btn-block.btn-primary.mt-lg(type='submit') Create account
            p.pt-lg.text-center Have an account?
            a.btn.btn-block.btn-default(href='login.html') Signup
        // END panel
        .p-lg.text-center
          span ©
          span 2016
          span -
          span Angle
          br
          span Bootstrap Admin Template
    // =============== VENDOR SCRIPTS ===============
    // MODERNIZR
    script(src='/vendor/modernizr/modernizr.custom.js')
    // JQUERY
    script(src='/vendor/jquery/dist/jquery.js')
    // BOOTSTRAP
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    // STORAGE API
    script(src='/vendor/jQuery-Storage-API/jquery.storageapi.js')
    // PARSLEY
    script(src='/vendor/parsleyjs/dist/parsley.min.js')
    // =============== APP SCRIPTS ===============
    script(src='/javascripts/app.js')
